
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
    
}
.ratebar{
    position: relative;
    display:flex;
    flex-direction: row-reverse;
}
.ratebar input{
    display: none;

}
.ratebar label{
   position: relative;
   width: 15;
   height: 125px;
   cursor: pointer;
   transition: 0.8s;
   filter: grayscale(0.7);
   text-align: center;
   opacity: 0.2;
}

.ratebar:hover label{
    width: 160px;
    opacity:0.3;
}
.ratebar input:hover + label,
.ratebar input:checked + label
{
    filter: grayscale(0);
    opacity: 1;
    width: 160px;
}
.ratebar label h4{
    color:lightcoral;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
}
.ratebar input:hover + label h4,
.ratebar input:checked + label h4 {
    opacity: 1;
    transform: translateY(0) scale(1);
}
.text{
    position: absolute;
    top: -80px;
    left: 45%;
    transform: translate(-50%);
    color: gray;
    width: 500px;
    font-weight: 700px;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 36px;
}
button{
    width: 70px;
    height: 50px;
    margin-bottom:40px;
    margin-left:150px;
    border-radius: 20px;
    border: 2px solid red;
    background: black;
    color: white;
    
}
#line{
    height: 3px;
    width: 500px;
    background-color:red ;
    position: absolute;
    top: 50%;
    left: 25%;
   

}